/* ----------------------------------------- SASS ---------------------------------------------------- */

$pri-ff: Arial;
$pri-fc: #3f4142;

.basic_text {
	font-family:$pri-ff;
	font-size:3.5vw; //1.5em 
	letter-spacing:0.15vw; //0.07em
	color:$pri-fc;
	}
	
@mixin transition($trans1) {
	-webkit-transition: $trans1; /* For chrome & safari */
	-moz-transition: $trans1; /* For mozilla firefox */
	-o-transition: $trans1; /* For opera */
	transition: $trans1; /* Not yet implemented, but will be available soon */
	}

@mixin backgroung_linear_gradient($bglinearg11,$bglinearg12) {
	background: -webkit-linear-gradient($bglinearg11,$bglinearg12) no-repeat center center fixed; 
  background: -o-linear-gradient($bglinearg11,$bglinearg12) no-repeat center center fixed; 
  background: -moz-linear-gradient($bglinearg11,$bglinearg12) no-repeat center center fixed; 
  background: linear-gradient($bglinearg11,$bglinearg12) no-repeat center center fixed;
 	}
	
/* ----------------------------------------- COMMON TAGS ---------------------------------------------------- */

html,body {
	height: 100%;
	width:100%;
  margin: 0;
	}

body {
	//@include backgroung_linear_gradient(#949697, #d5d7d6);
	background-image: url(../images/main_background.jpg);
  background-size: contain;
	}

img {
	margin:0px;
	padding:0px;
	border:none;
	}

p {
	@extend .basic_text;
	margin:0px;
	padding:0vw 0.4vw 2vw 1.5vw;  /* top right bottom left */
	line-height:4.7vw;
	}

h1 {
	@extend .basic_text;
	margin:0px;
	padding:2.8vw 0.4vw 2.1vw 0.5vw;  /* top right bottom left */
	line-height:7.5vw;
	font-size:6.5vw; 
	letter-spacing:0.2em;
	color:black;
	font-weight:normal;
	}

h2 {
	@extend .basic_text;
	margin:0px;
	padding:0px 0px 0px 0px;
	line-height:4.5vw;
	font-size:4.7vw; 
	letter-spacing:0.3vw;
	}

a {
	@extend .basic_text;
	font-size:6.2vw;
	margin:0px;
	padding:0px;
	letter-spacing:0.2vw;
	text-decoration:none;
	font-weight:normal;
	color:black;
	}
	
/* ----------------------------------------- CONTAINER, HEADER & NAV ---------------------------------------------------- */
   
#container {
	text-align: left;
	margin-left: auto;
	margin-right: auto; 
	//background-image: url(../images/main_background_small.jpg);
  //background-size: contain;
  //border:solid 1px red;
	}

#nav_mobile {
	display:visible;
	float:left;
	position: absolute;
	top:0em;
	z-index: 100;
	padding:3vw 2.5vw 2vw 2vw; /* top right bottom left */
	}

.Button_MainMenu {
	display:block;
	text-decoration:none;
	}

#arrowRotate {
	width:0.9em;
	}

#nav {
	display:none;
	}

.Mobile_menu {
	background: rgb(255, 255, 255);
	padding:0.3em;
	ul {
		margin:0px;
		padding:0px;
		li {
			list-style: none;
			padding:0.8vw 1.9vw 0.8vw 1.9vw; /* top right bottom left */
			}
		}
	}

#MainHeading {
	display:visible;
	float:left;
	position:relative;
	top:21vw;
	z-index: 10;
	padding:0vw 0vw 0vw 2vw; /* top right bottom left */
	}
	
.flag img {
	width: 8vw;
	margin-left: 2vw;
	}

.flag {
	opacity:0.4;
	}

.flag:hover {
	opacity:0.9;
	}


/* ----------------------------------------- MAIN ---------------------------------------------------- */

#section_main {
	padding-right:1em;
  //width:100%;
  
  //background-attachment: fixed;
  }

#section_main_left, #section_main_right {
	width:100%;
	padding-top:1em;
	margin-right:1em;
	}
	
#section_main_left {
	text-align:right;
	align:right;
	padding-bottom:1em;
	}

#section_main_right {
	text-align:left;
	padding-left:0.5em;
	}

/* ----------------------------------------- FOOTER ---------------------------------------------------- */

footer {

	clear:both;
	width:100%;
  height:26px;
  float:left;
  background-image: url(../images/footer_background.jpg);
  text-align:left;
  margin:0px;
  padding:0px; /* top right bottom left */
	p, a {
		font-size:4vw;
		color:#707070;
		}
	a {
		opacity:0.7;
		color:#3b3b3b;
		img {	
			box-shadow: 1px 1px 1px #8e9091;
			}
		}
	a:hover  {
		opacity:1.0;
		}
	a:visited  {
		opacity:0.7;
		}
	}
		
#section_footer_left {
	display:none;
	}

#section_footer_center {
	display:none;
	}
	
#section_footer_right {
	text-align:right;
	width:96%;
	padding:0.5vw 2vw 1vw 0vw; /* top right bottom left */
	img {
		vertical-align:middle;
		width: 5vw;
		padding-left: 2vw;
		}
	}

/* ----------------------------------------- PAGES ---------------------------------------------------- */

#portfolio_main {
	text-align:center;
	padding:10px 0px 10px 0px;
	}

.portfolio {
	width:900px;
	height:427px;
	}

.omakuva {
	box-shadow: 2px 4px 9px #8e9091;
	margin:1em 1em 0em 0em; /* top right bottom left */
	}

#section_main.cv {
	padding:42vw 2vw 2vw 2vw; /* top right bottom left */	
	//width:99%;
	img {
	
	width:4vw;
	}
	}

table.cv {
	tr {
		td {
			@extend .basic_text;
			margin:0px;
			padding:0px 15px 16px 0px; /* top right bottom left */
			line-height:5vw;
			vertical-align:top;
			a {
				font-size:4vw;
				}
			span.cv_item_small {
				font-size:2.5vw;
				}
			}
		td.cv_topic {
			display:none;
			}
		td.research_topic {
			display:none;
			}
		td.cv_item {
			display:none;
			}
		td.cv_content {
			width:59%;
			}
		tr.cv_topic_small {
			font-size:2.3vw;
			}
		
		
		}
	}

.updateinfo {
	display:none;
	}